@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}




#weather_date1, #weather_date2, #weather_date3, #weather_date4, #weather_date5, #weather_date6
{
	width: 50% !important;
}

.weather_date
{
	width: 40% !important;
	background-color: pink !important;
}

#forcast
{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background-color: yellow;
}

#dest
{
	color: #006400 !important;
}

#dest #dest
{
	border-color: #006400;
}

hr
{
	border-color: #006400;
	color: white;
	width: 80%;
	height: 3px;
	background-color: #006400;
}

html
{
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

form
{
	margin-left: auto;
	margin-right: auto;
}
.ff_elem
{
	margin-top: 2%;
	background-color: #6ff36e;
	border: solid white 5px;
	color: white;
	font-size: 40px;
	padding: 10px;
}

input[type="text"] {
    font-family: 'Quicksand', sans-serif;
    font-weight: light;
}

.field:visited
{
	background-color: blue;
}

.enter
{
	border: solid white;
	background-color: transparent;
	color: white;
	font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
	transition: background-color 0.5s, font-weight 0.5s;

}

.enter:hover
{
	cursor: pointer;
	background-color: #006400;
	font-weight: normal;
	transition: background-color 0.5s, font-weight 0.5s;
}

body
{
	color: white;
	font-size: 40px;
	background-color: #6ff36e;
}